/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 200px; /* Definindo uma altura fixa */
  object-fit: cover; /* Ajusta a imagem para cobrir toda a área, mantendo a proporção */
  border-bottom: 1px solid #ddd;
}

.project-details {
  padding: 1rem;
}

.project-card h2 {
  margin-top: 0.5rem;
}

.project-card p {
  margin: 0.5rem 0;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.project-links a {
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  width: 100px; /* Definindo largura fixa para garantir que tenham o mesmo tamanho */
  text-align: center;
}

.project-links a:hover {
  background-color: #007bff;
  color: white;
}
